html {
    background-color: black;
}
body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.codebullet {
    font-size: 40px;
    font-weight: bold;
    color: #00FF00; /* CodeBullet green */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 70%;
    border: 3px solid blue;
    padding: 20px;
}

#board {
    border: 1px solid white;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}
