/* Write CSS Here */
body {
    text-align: center;
}
.geeks {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.center {
    display: flex;
    display: grid properties;
    position: absolute;
    transform: translate;
}
